@use "../global/global" as i;

@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  /* React root div */
  min-height: 100vh; //useful tip***
  display: flex;
  flex-flow: column nowrap;
}

body {
  font-family: "Nunito", sans-serif;
}

//cart
.main {
  min-height: 100vh;
}

// .app {
//   color: i.$green-color;
//   background-color: i.$background-color;
// }
