$dark-color: rgb(32, 30, 30);
$background-color: rgb(49, 48, 48);
$menu-hover-color: rgb(251, 167, 11);
$font-color: rgb(254, 254, 243);

//--fonts--//
$small-font: 0.65em;
$extra-small-font: 0.45em;
$ordinary-font: 1em;
$large-font: 1.2em;
